@import "../mixins";
@import "../variables";

.filme {
  width: 1050px;
  @include flex(column, start, start);

  &-body {
    width: 100%;
    background-color: $white;
    border: 2px solid $brown_color;
    padding: 0.75rem 1rem;
    @include flex(row, center, center);

    div {
      width: 100%;
      font-family: $OleoScript;
      @include flex(column, center, center);

      p {
        font-size: 14px;
      }
    }
  }

  hr {
    height: 30px;
    border-width: 1px;
    border-style: solid;
    background-color: $brown_color;
    filter: opacity(0.4);
  }

  &-buttons {
    width: 100%;

    button {
      cursor: pointer;
      font-family: $OleoScript;
      padding: 0.5rem 3rem;
      font-size: 18px;
      border: 2px solid $brown_color;
      border-top: none;
      color: white;

      &:nth-child(1) {
        border-right: none;
        background-color: $yellow_color;
      }

      &:nth-child(2) {
        background-color: $red_color;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .filme {
    width: 800px;
  }
}
