$background_color: #fcf5ed;
$green_color: #43766c;
$red_color: #ce5a67;
$brown_color: #1f1717;
$yellow_color: #b19470;
$white: #fff;

$InterFontFamily: "Inter", sans-serif;
$OleoScript: "Oleo Script", system-ui;
$OleoSwashCaps: "Oleo Script Swash Caps", system-ui;
